header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style the search bar */
input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 60%;
    margin-top: 10px;
}

input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

/* Style the navigation buttons */
.nav-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #3e8e41;
}