<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/header.css">
</head>
<header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="search-bar">
        <form action="#" method="get">
            <input type="text" name="q" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="user-buttons">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('home.home') }}">Profile</a>
        <a href="{{ url_for('login.logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login.login') }}">Login</a>
        <a href="{{ url_for('signup.signup') }}">Signup</a>
        {% endif %}
    </div>
</header>
<body>

    {% block body %}
    {% endblock %}
</body>

</html>