<!DOCTYPE html>
<html>

<head>
    <title>Ethicate</title>
    <link rel="stylesheet" href="static/header.css">

</head>

<body>
    <header>
        <h1>Welcome to Ethicate</h1>
        <form>
            <input type="text" placeholder="Search...">
            <input type="submit" value="Search">
        </form>
        <div>
            <button class="nav-btn" onclick="window.location.href='#'">View Header Code</button>
            <button class="nav-btn" onclick="window.location.href='#'">View Search Bar Code</button>
        </div>
    </header>

    {% block body %}
    {% endblock %}
</body>

</html>